{% extends 'base.html' %}
{% load static %}

{% block title %} عضویت {% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'account/css/sign_up.css' %}">

{% endblock %}

{% block content %}

<section class="sign_up_form_container">
    <p class="sign_up_form_title">ایجاد حساب کاربری</p>

    <form class="sign_up_form" action="" method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div id="message">
            <p>{{ message }}</p><br>
        </div>
        {% endfor %}
        {% endif %}
        <input type="text" class="sign_up_input" name="username" value="{{ username|default:'' }}" placeholder="User Name"><br/><br/>
        <input type="email" class="sign_up_input" name="email" value="{{ email|default:'' }}" placeholder="Email"><br/><br/>
        <input type="password" class="sign_up_input" name="password" value="{{ password|default:'' }}" placeholder="Password"><br/><br/>
        <input type="password" class="sign_up_input" name="confirm_password" value="{{ confirm_password|default:'' }}" placeholder="Confirm Password"><br/><br/>
        <input type="submit" class="sign_up_submit" value="ایجاد حساب کاربری">
    </form>
    <p><a href="{% url 'account:sign-in' %}" class="sign_up_sign_in">حساب کاربری دارید؟ وارد شوید</a></p>
    <hr/>
    <a href="#"><img src="images/sign_in_google.png" class="sign_in_google" alt=""></a>
</section>

{% endblock %}